{# spins/error.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
    <h1>Error</h1>
    <p>{{ message }}</p>
    <a href="{{ path('app_login') }}">Go to login</a>
</body>
</html>
