<form method="post" action="{{ path('app_evenements_delete', {'id': evenement.id}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.id) }}">
    <button class="btn btn-primary" style="margin-left:30px">Delete</button>
</form>



