{% extends 'base.html.twig' %}

{% block title %}Edit Evenements{% endblock %}

{% block body %}
    <h1>Edit Evenements</h1>

    {{ include('evenements/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_evenements_index') }}">back to list</a>

    {{ include('evenements/_delete_form.html.twig') }}
{% endblock %}
