{% extends 'baseAdmin.html.twig' %}

{% block title %}New Evenements{% endblock %}

{% block body %}
    <h1>Create new Event</h1>

    {{ include('evenements/_form.html.twig') }}

    <a href="{{ path('app_evenements_index') }}">back to list</a>
{% endblock %}
