.virtual-museum-container {
    position: relative; /* Changed from fixed to relative */
    width: 100%; /* Full width of the container */
    height: 90vh; /* 90% of the viewport height */
    z-index: 1;
    padding-top: 50px; /* Space from the top */
}

.virtual-museum {
    width: 100%;
    height: 100%; /* Make the iframe take up all of the container's height */
    border: none;
}
