{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Solution{% endblock %}

{% block body %}
<section style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="text-align: center;">
        <h1>Edit Solution</h1>
        <br>
                <br>
        <br>
        <br>
        <br>

        {{ include('solution/_form.html.twig', {'button_label': 'Update'}) }}
        <a href="{{ path('app_solution_index') }}">back to list</a>
        {{ include('solution/_delete_form.html.twig') }}
    </div>
</section>
{% endblock %}