{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block body %}
<div style="margin-top: 100px; margin-bottom: 250px; text-align: center;">
    <h3>Forgot Password</h3>
    <form method="post" style="margin-top: 20px;">
        <input type="email" name="email" placeholder="Enter your email" required>
        <button type="submit">Send Reset Code</button>
    </form>
</div>
{% endblock %}
