<form method="post" action="{{ path('app_activite_delete', {'idActivite': activite.idActivite}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activite.idActivite) }}">
    <button class="btn">Delete</button>
</form>
