{# templates/footer.html.twig #}

<footer class="site-footer">
    <div class="site-footer__upper">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-widget footer-widget__about">
                        <p>Welcome to the World’s Leading Museum
                            of Modern Art. It includes works of art created during the period 
                                stretching from about 1860 to the 1970s.
                        </p>
                    </div><!-- /.footer-widget -->
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-2">
                    <div class="footer-widget footer-widget__links">
                        <h3 class="footer-widget__title">Quick Link</h3><!-- /.footer-widget__title -->
                        <ul class="footer-widget__links-list list-unstyled">
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">Events</a>
                            </li>
                            <li>
                                <a href="#">ArtWork</a>
                            </li>
                            <li>
                                <a href="#">Latest Blog</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul><!-- /.footer-widget__links-list -->
                    </div><!-- /.footer-widget -->
                </div><!-- /.col-lg-2 -->
                <div class="col-lg-3">
                    <div class="footer-widget footer-widget__contact">
                        <h3 class="footer-widget__title">Contact</h3><!-- /.footer-widget__title -->
                        <p>ArtHub 1087 Tunis <br>
                            Street Habib Borguiba, TN</p>
                        <p><a href="tel:+21640874995">(+216) 40874995</a></p>
                        <p><a href="mailto:ServiceClient@artHub.com">ServiceClient@artHub.com</a></p>
                    </div><!-- /.footer-widget -->
                </div><!-- /.col-lg-3 -->
                <div class="col-lg-3">
                    <div class="footer-widget footer-widget__open-hrs">
                        <h3 class="footer-widget__title">Open Hours</h3><!-- /.footer-widget__title -->
                        <p>Daily: 9.30 AM–6.00 PM <br>
                            Sunday & Holidays: Closed</p>
                    </div><!-- /.footer-widget -->
                </div><!-- /.col-lg-3 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.site-footer__upper -->
    <div class="site-footer__bottom">
        <div class="container">
            <div class="inner-container">
                <p>© Copyright 2024 ArtHub. All Rights Reserved</p>
                <a href="#" class="site-footer__bottom-logo">
                    <img src="{{ asset('images/logo-footer-1.png') }}" alt="">
                </a>
                <div class="site-footer__bottom-links">
                    <a href="#">Terms & conditions</a>
                    <a href="#">Privacy policy & Terms of use</a>
                </div><!-- /.site-footer__bottom-links -->
            </div><!-- /.inner-container -->
        </div><!-- /.container -->
    </div><!-- /.site-footer__bottom -->
</footer><!-- /.site-footer -->
