{% extends 'base.html.twig' %}

{% block title %}Home - ArtHub{% endblock %}

{% block body %}
<div class="page-wrapper">
        <nav class="main-nav-one stricky main-nav-one__home-three original">
            <div class="container">
                <div class="inner-container">
                    <div class="logo-box">
                        <a href="#">
                            <img src="{{asset('images/logo-light-1-1.png')}}" alt="" width="143">
                        </a>
                        <a href="#" class="side-menu__toggler"><i class="muzex-icon-menu"></i></a>
                    </div><!-- /.logo-box -->
                    <div class="main-nav__main-navigation">
                        <ul class="main-nav__navigation-box">
                            <li class="dropdown current">
                                <a href="#">Home</a> 
                            </li>
                            <li class="dropdown">
                                <a href="#">About</a>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Team</a></li>
                                    <li><a href="#">Donate</a></li>
                                    <li><a href="#">Veneu</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Membership</a></li>
                                </ul>
                            <button class="dropdown-btn"><i class="fa fa-angle-right"></i></button></li>
                            <li class="dropdown">
                                <a href="#">Collection</a>
                                <ul>
                                    <li><a href="#">Collections Full</a></li>
                                    <li><a href="#">Collections Grid</a></li>
                                    <li><a href="#">Collections Masonary</a></li>
                                </ul>
                            <button class="dropdown-btn"><i class="fa fa-angle-right"></i></button></li>
                            <li class="dropdown">
                                <a href="#">Explore</a>
                                <ul>
                                    <li class="dropdown">
                                        <a href="#">Events</a>
                                        <ul>
                                            <li><a href="#">Events 01</a></li>
                                            <li><a href="#">Events 02</a></li>
                                            <li><a href="#">Events 03</a></li>
                                            <li><a href="#">Events Details</a></li>
                                        </ul>
                                    <button class="dropdown-btn"><i class="fa fa-angle-right"></i></button></li>
                                    <li><a href="#">Activities</a></li>
                                    <li><a href="#">MasterClass</a></li>
                                    <li><a href="#">Donate</a></li>
                                    <li><a href="#">Veneu</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Membership</a></li>
                                </ul>
                            <button class="dropdown-btn"><i class="fa fa-angle-right"></i></button></li>
                            <li class="dropdown">
                                <a href="#">Blog</a>
                                <ul>
                                    <li><a href="#">News Standard</a></li>
                                    <li><a href="#">News Grid</a></li>
                                    <li><a href="#">News Masonary</a></li>
                                    <li><a href="#">News Details</a></li>
                                </ul>
                            <button class="dropdown-btn"><i class="fa fa-angle-right"></i></button></li>
                            <li><a href="#">Contact</a></li>
                        </ul><!-- /.main-nav__navigation-box -->
                    </div><!-- /.main-nav__main-navigation -->
                    <div class="main-nav__right">
                        <a href="#" class="search-popup__toggler"><i class="muzex-icon-search"></i></a>
                        <a class="sidemenu-icon side-content__toggler" href="#"><i class="muzex-icon-menu"></i></a>
                    </div><!-- /.main-nav__right -->
                </div><!-- /.inner-container -->
            </div><!-- /.container -->
        </nav><nav class="main-nav-one stricky main-nav-one__home-three stricked-menu">
            <div class="container">
                <div class="inner-container">
                    <div class="logo-box">
                        <a href="#">
                            <img src="{{asset('images/logo-light-1-1.png')}}" alt="" width="143">
                        </a>
                        <a href="#" class="side-menu__toggler"><i class="muzex-icon-menu"></i></a>
                    </div><!-- /.logo-box -->
                    <div class="main-nav__main-navigation">
                        <ul class="main-nav__navigation-box">
                            <li class="dropdown current">
                                <a href="#">Home</a>
                                
                            <button class="dropdown-btn"><i class="fa fa-angle-right"></i></button></li>
                            <li class="dropdown">
                                <a href="#">About</a>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Team</a></li>
                                    <li><a href="#">Donate</a></li>
                                    <li><a href="#">Veneu</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Membership</a></li>
                                </ul>
                            <button class="dropdown-btn"><i class="fa fa-angle-right"></i></button></li>
                            <li class="dropdown">
                                <a href="#">Collections</a>
                                <ul>
                                    <li><a href="#">Collections Full</a></li>
                                    <li><a href="#">Collections Grid</a></li>
                                    <li><a href="#">Collections Masonary</a></li>
                                </ul>
                            <button class="dropdown-btn"><i class="fa fa-angle-right"></i></button></li>
                            <li class="dropdown">
                                <a href="#">Pages</a>
                                <ul>
                                    <li class="dropdown">
                                        <a href="#">Events</a>
                                        <ul>
                                            <li><a href="#">Events 01</a></li>
                                            <li><a href="#">Events 02</a></li>
                                            <li><a href="#">Events 03</a></li>
                                            <li><a href="#">Events Details</a></li>
                                        </ul>
                                    <button class="dropdown-btn"><i class="fa fa-angle-right"></i></button></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Team</a></li>
                                    <li><a href="#">Donate</a></li>
                                    <li><a href="#">Veneu</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Membership</a></li>
                                </ul>
                            <button class="dropdown-btn"><i class="fa fa-angle-right"></i></button></li>
                            <li class="dropdown">
                                <a href="#">Blog</a>
                                <ul>
                                    <li><a href="#">News Standard</a></li>
                                    <li><a href="#">News Grid</a></li>
                                    <li><a href="#">News Masonary</a></li>
                                    <li><a href="#">News Details</a></li>
                                </ul>
                            <button class="dropdown-btn"><i class="fa fa-angle-right"></i></button></li>
                            <li><a href="#">Contact</a></li>
                        </ul><!-- /.main-nav__navigation-box -->
                    </div><!-- /.main-nav__main-navigation -->
                    <div class="main-nav__right">
                        <a href="#" class="search-popup__toggler"><i class="muzex-icon-search"></i></a>
                        <a class="sidemenu-icon side-content__toggler" href="#"><i class="muzex-icon-menu"></i></a>
                    </div><!-- /.main-nav__right -->
                </div><!-- /.inner-container -->
            </div><!-- /.container -->
        </nav><!-- /.main-nav-one -->
        <!-- banner section -->
        <section class="banner-section banner-section__home-two banner-section__home-three">
            <div class="banner-carousel thm__owl-carousel owl-theme owl-carousel owl-loaded owl-drag" data-options="{&quot;loop&quot;: true, &quot;items&quot;: 1, &quot;margin&quot;: 0, &quot;dots&quot;: false, &quot;nav&quot;: true, &quot;animateOut&quot;: &quot;fadeOut&quot;, &quot;animateIn&quot;: &quot;fadeIn&quot;, &quot;active&quot;: true, &quot;smartSpeed&quot;: 1000, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 6000, &quot;autoplayHoverPause&quot;: false}">
                <!-- Slide Item -->
                
                <!-- Slide Item -->
                
                <!-- Slide Item -->
                
            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-3038px, 0px, 0px); transition: all 0s ease 0s; width: 10633px;"><div class="owl-item cloned" style="width: 1519px;"><div class="slide-item">
                    <div class="image-layer lazy-image" style="background-image: url('assets/images/main-slider/banner-3-2.jpg');"></div>
                    <div class="container">
                        <div class="content-box text-left">
                            <h3>Opening On Sat. Oct 20, 2020</h3>
                            <h2>The World’s Leading Museum <br>of Contemporary Art</h2>
                            <div class="btn-box">
                                <a href="#" class="thm-btn btn-style-one">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div></div><div class="owl-item cloned" style="width: 1519px;"><div class="slide-item">
                    <div class="image-layer lazy-image" style="background-image: url('assets/images/main-slider/banner-3-3.jpg');"></div>
                    <div class="container">
                        <div class="content-box text-left">
                            <h3>The Past is our Future</h3>
                            <h2>World’s Leading Museum of History <br> Over 2.3 k Collection</h2>
                            <div class="btn-box">
                                <a href="#" class="thm-btn btn-style-one">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div></div><div class="owl-item active" style="width: 1519px;"><div class="slide-item">
                    <div class="image-layer lazy-image" style="background-image: url('{{asset('/images/exhibition-1-2.jpg') }}');"></div>
                    <div class="container">
                        <div class="content-box text-left">
                            <h3>Through November 12 (Tuesday) - 18 (Monday), 2020.</h3>
                            <h2>One of the Finest Collections of <br> Egyptian Art.</h2>
                            <div class="btn-box">
                                <a href="#" class="thm-btn btn-style-one">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div></div><div class="owl-item" style="width: 1519px;"><div class="slide-item">
                    <div class="image-layer lazy-image" style="background-image: url('{{ asset('/images/main-slider/banner-3-2.jpg') }}');"></div>
                    <div class="container">
                        <div class="content-box text-left">
                            <h3>Opening On Sat. Oct 20, 2020</h3>
                            <h2>The World’s Leading Museum <br>of Contemporary Art</h2>
                            <div class="btn-box">
                                <a href="#" class="thm-btn btn-style-one">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div></div><div class="owl-item" style="width: 1519px;"><div class="slide-item">
                    <div class="image-layer lazy-image" style="background-image: url('assets/images/main-slider/banner-3-3.jpg');"></div>
                    <div class="container">
                        <div class="content-box text-left">
                            <h3>The Past is our Future</h3>
                            <h2>World’s Leading Museum of History <br> Over 2.3 k Collection</h2>
                            <div class="btn-box">
                                <a href="#" class="thm-btn btn-style-one">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div></div><div class="owl-item cloned" style="width: 1519px;"><div class="slide-item">
                    <div class="image-layer lazy-image" style="background-image: url('assets/images/main-slider/banner-3-1.jpg');"></div>
                    <div class="container">
                        <div class="content-box text-left">
                            <h3>Through November 12 (Tuesday) - 18 (Monday), 2020.</h3>
                            <h2>One of the Finest Collections of <br> Egyptian Art.</h2>
                            <div class="btn-box">
                                <a href="#" class="thm-btn btn-style-one">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div></div><div class="owl-item cloned" style="width: 1519px;"><div class="slide-item">
                    <div class="image-layer lazy-image" style="background-image: url('assets/images/main-slider/banner-3-2.jpg');"></div>
                    <div class="container">
                        <div class="content-box text-left">
                            <h3>Opening On Sat. Oct 20, 2020</h3>
                            <h2>The World’s Leading Museum <br>of Contemporary Art</h2>
                            <div class="btn-box">
                                <a href="#" class="thm-btn btn-style-one">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div></div>
        </section>
        <!-- end banner section -->

        


    </div> 

{% endblock %}
