{% extends 'baseAdmin.html.twig' %}

{% block title %}
    ArtHub - Users
{% endblock %}

{% block body %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>Users table</h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table id="usersTable" class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th>User</th>
                                        <th>Pseudo/gender</th>
                                        <th class="text-center">Role</th>
                                        <th class="text-center">Joined</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody> {# Add tbody for the table body #}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {# Include jQuery and DataTables JavaScript #}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
    // Initialize DataTable
    $('#usersTable').DataTable({
        "processing": true,
        "serverSide": true,
        "pageLength": 10, // Set number of rows per page
        "lengthMenu": [5, 10, 20], // Customize length menu options
        "ajax": "{{ path('ajax_users_list') }}",
        "columns": [
            { 
                "data": "user",
                "render": function (data, type, row) {
                    return data; // Renders the HTML content as is
                }
            },
            { "data": "pseudo_gender" },
            { "data": "role" },
            { "data": "joined" },
            { "data": "action" }
        ],
        "order": [[3, "desc"]], // Initial sort by the "Joined" column, descending
        "searching": true // Enable search functionality
    });
});

    </script>
{% endblock %}
